body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

.button-container button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #555;
}

.event-detail {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-detail img {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
    border-radius: 8px;
}

.event-detail div {
    flex: 2;
    padding: 20px;
    border-radius: 8px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-detail h2 {
    margin-top: 0;
}

.event-detail p, .event-detail ul {
    margin: 10px 0;
    line-height: 1.6;
}

.event-detail ul {
    list-style-type: none;
    padding: 0;
}

.event-detail ul li {
    background: #e7e7e7;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}
